div.heading {
  padding: 20px 50px;
  background: #14b789;
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
}
div.heading h2 {
  font-size: 48px;
  margin-right: 20px;
  font-weight: 900;
  color: #fff;
}
div.heading div.head-avatar {
  display: block;
  width: 80px;
}
body {
  background: #384985;
}

header {
  z-index: 9;
  padding: 10px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: fixed;
  overflow-x: hidden;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}
header nav.navbar {
  width: 1000px;
  padding: 30px 60px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 100px;
}
header nav.navbar div.logo-bar a div.main-logo {
  display: block;
  width: 100px;
}
header nav.navbar ul.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
header nav.navbar ul.nav-menu li.nav-item {
  margin-right: 20px;
}
header nav.navbar ul.nav-menu li.nav-item:last-child {
  margin-right: 0;
}
header nav.navbar ul.nav-menu li.nav-item a {
  font-size: 18px;
}
header nav.navbar ul.nav-menu li.nav-item a:hover {
  color: #14b789;
  border-bottom: 2px solid #14b789;
  padding-bottom: 4px;
}
header nav.navbar div.hamburger {
  display: none;
}
header nav.navbar div.hamburger span.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: cyan;
}

#spotlight {
  display: block;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 50px;
}
#spotlight ul {
  display: flex;
  align-items: center;
  margin: 200px 0 0;
}
#spotlight ul li {
  margin-right: 200px;
}
#spotlight ul li:last-child {
  margin-right: 0;
}
#spotlight ul li h1 {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
}
#spotlight ul li h1 span {
  color: #14b789;
  font-size: 68px;
  font-weight: 900;
  font-family: "Bruno Ace SC", cursive;
  letter-spacing: 1px;
}
#spotlight ul li h3 {
  font-family: "Bruno Ace SC", cursive;
  font-size: 38px;
  color: #fff;
  margin: 20px 0 40px;
}
#spotlight ul li div.important-logo-container {
  display: flex;
  align-items: center;
}
#spotlight ul li div.important-logo-container a {
  margin: 0px 20px 40px 0;
  width: 40px;
  display: block;
  background-color: #fff;
  border-radius: 6px;
  padding: 10px;
}
#spotlight ul li div.important-logo-container a:hover {
  transform: scale(1);
  border: none;
  padding: 0;
}
#spotlight ul li div.spotlight-buttons a {
  color: #000;
  margin-right: 10px;
  padding: 10px 30px;
  background: #14b789;
  border-radius: 100px;
}
#spotlight ul li div.spotlight-buttons a:last-child {
  margin-right: 0;
}
#spotlight ul li div.spotlight-buttons a:hover {
  border: none;
  background-color: #000;
  color: #14b789;
}
#spotlight ul li div.right-spotlight {
  display: block;
  width: 360px;
}
#spotlight ul li div.right-spotlight img {
  border-radius: 50%;
  padding: 10px;
  border: 6px solid #14b789;
}

ul.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
ul.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
ul.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
ul.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
ul.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
ul.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
ul.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
ul.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
ul.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
ul.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
ul.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
ul.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
#about {
  border-bottom: 3px solid #14b789;
  margin-bottom: 50px;
  padding: 150px 150px 100px;
}
#about div.about-flex {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
#about div.about-flex div.each-about {
  width: 48%;
}
#about div.about-flex div.single-about-1 {
  margin-right: 20px;
}
#about div.about-flex div.single-about-1 p {
  margin: 20px 0;
  letter-spacing: 1px;
  font-size: 16px;
}
#about div.about-flex div.single-about-1 p.some-skills {
  margin-bottom: 0;
}
#about div.about-flex div.single-about-1 ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#about div.about-flex div.single-about-1 ul li {
  width: 48%;
  margin: 10px 10px 0 0;
}
#about div.about-flex div.single-about-1 ul li span {
  font-size: 18px;
  color: #14b789;
  font-weight: 900;
}
#about div.about-flex div.single-about-2 div.about-user-image {
  display: block;
  width: 320px;
  margin: 0 auto;
}
#about div.about-flex div.single-about-2 div.about-user-image img {
  box-shadow: 40px 40px #14b789;
  min-height: 320px;
  border-radius: 10px;
}

#experience {
  padding: 100px 150px 50px;
}
#experience section.all-experience {
  margin: 50px 0 0 0;
  padding: 0 100px;
}
#experience section.all-experience ul {
  display: flex;
  margin: 10px 0;
  border-bottom: 2px solid #14b789;
}
#experience section.all-experience ul:first-child {
  padding: 10px 0 0 0;
  border-top: 2px solid #14b789;
}
#experience section.all-experience ul li.company-name {
  width: 35%;
}
#experience section.all-experience ul li.company-name h4 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
#experience section.all-experience ul li.experience-detail {
  width: 60%;
}
#experience section.all-experience ul li.experience-detail h6 {
  margin: 0 0 10px 0;
  color: #14b789;
  font-weight: 900;
  font-size: 24px;
}
#experience section.all-experience ul li.experience-detail p.years-of-service {
  color: #000;
}
#experience section.all-experience ul li.experience-detail div.experience-paragraph p {
  margin: 10px 0 10px 20px;
}

#projects {
  border-bottom: 3px solid #14b789;
  margin-bottom: 50px;
  padding: 50px 150px 100px;
}
#projects div.heading {
  justify-content: right;
}
#projects section.all-projects {
  display: flex;
  margin: 60px 0 0 0;
  flex-wrap: wrap;
}
#projects section.all-projects a {
  position: relative;
  background-color: #535da1;
  padding: 30px 20px;
  width: 48%;
  margin: 10px 10px 10px 0;
  border-radius: 10px;
  min-height: 300px;
  box-shadow: rgb(20, 183, 137) 0px 5px 15px;
}
#projects section.all-projects a:hover {
  background-color: #14b789;
  border-bottom: 0px solid #14b789;
}
#projects section.all-projects a:nth-child(2n) {
  margin-right: 0;
}
#projects section.all-projects a ul {
  display: flex;
  align-items: center;
}
#projects section.all-projects a ul li {
  margin-right: 10px;
}
#projects section.all-projects a ul li div.book-icon {
  width: 40px;
  display: block;
}
#projects section.all-projects a ul li h4 {
  font-size: 28px;
  font-weight: 900;
  color: #000;
}
#projects section.all-projects a p.project-description {
  font-size: 16px;
  margin: 10px 0;
}
#projects section.all-projects a div.each-tech {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
#projects section.all-projects a div.each-tech span {
  width: auto;
  display: inline;
  margin: 0px 10px 10px 0;
  border-radius: 6px;
  background: #000;
  padding: 5px;
}

#education {
  display: none;
  padding: 100px 150px 50px;
}
#education div.heading {
  margin-bottom: 50px;
}
#education div.all-education ul {
  padding: 30px 0;
  border-bottom: 2px solid #14b789;
  margin: 30px 0;
  display: flex;
}
#education div.all-education ul:first-child {
  border-top: 2px solid #14b789;
}
#education div.all-education ul li {
  margin-right: 20px;
}
#education div.all-education ul li div.each-education {
  display: block;
  width: 80px;
}
#education div.all-education ul li h4 {
  font-weight: 900;
  font-size: 32px;
  color: #14b789;
}
#education div.all-education ul li h6 {
  font-size: 28px;
  font-weight: 900;
}
#education div.all-education ul li p.duration {
  color: #14b789;
  font-size: 18px;
  margin: 10px 0;
}
#education div.all-education ul li p.other-details {
  margin: 0 0 5px 20px;
}

#testimonial {
  padding: 80px 150px 100px;
  color: #000;
}
#testimonial div.heading {
  margin-bottom: 50px;
}
#testimonial p {
  font-size: 20px;
  text-align: center;
  color: #000;
}
#testimonial swiper-container.mySwiper {
  margin: 0 100px;
  background-color: #fff;
  padding: 40px 40px 60px;
  border-radius: 10px;
}
#testimonial swiper-container.mySwiper swiper-slide section.single-testimonial {
  display: block;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
#testimonial swiper-container.mySwiper swiper-slide section.single-testimonial div.testimonial-image {
  display: block;
  width: 140px;
  margin: 30px auto;
}
#testimonial swiper-container.mySwiper swiper-slide section.single-testimonial div.testimonial-image img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
#testimonial swiper-container.mySwiper swiper-slide section.single-testimonial p.testimonial-content {
  width: 85%;
  display: block;
  margin: 0 auto;
  font-size: 20px;
}
#testimonial swiper-container.mySwiper swiper-slide section.single-testimonial h6 {
  text-align: center;
  font-size: 24px;
  color: #14b789;
  font-weight: 900;
  margin: 10px 0;
  font-family: "Bruno Ace SC", cursive;
  letter-spacing: 4px;
}
#testimonial swiper-container.mySwiper swiper-slide section.single-testimonial p.about-him {
  font-weight: 900;
  color: #000;
  font-family: "DM Sans", sans-serif;
}

#service {
  border-bottom: 3px solid #14b789;
  margin-bottom: 50px;
  padding: 80px 150px 100px;
  color: #000;
}
#service div.heading {
  margin: 0 0 50px 0;
}
#service section.all-service {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#service section.all-service section.each-service {
  width: 46%;
  padding: 20px;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: #fff;
  min-height: 340px;
  position: relative;
  box-shadow: rgb(20, 183, 137) 0px 5px 15px;
}
#service section.all-service section.each-service div.service-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  margin: 10px 0;
  border-bottom: 3px solid #14b789;
}
#service section.all-service section.each-service div.service-heading h6 {
  font-size: 36px;
  font-weight: 900;
  color: #000;
}
#service section.all-service section.each-service div.service-heading div.service-image {
  width: 60px;
  display: block;
}
#service section.all-service section.each-service p.service-content {
  color: #000;
}
#service section.all-service section.each-service a {
  position: absolute;
  bottom: 20px;
  padding: 10px 30px;
  border-radius: 10px;
  display: inline-block;
  background-color: #14b789;
  margin: 10px 0;
  color: #000;
  box-shadow: rgb(20, 183, 137) 0px 5px 15px;
}
#service section.all-service section.each-service a:hover {
  background-color: #000;
  color: #14b789;
}

#skills {
  display: none;
  padding: 100px 150px 100px;
}
#skills section.all-skills {
  margin: 50px 0 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#skills section.all-skills ul {
  padding: 15px 10px;
  background-color: #14b789;
  margin: 0 15px 15px 0;
  display: flex;
  align-items: center;
  width: 30%;
  min-width: 240px;
  border-radius: 6px;
}
#skills section.all-skills ul:nth-child(3n) {
  margin: 0 0 15px 0;
}
#skills section.all-skills ul li div.skill-image {
  display: block;
  width: 50px;
  margin-right: 10px;
}
#skills section.all-skills ul li h6 {
  font-size: 20px;
  font-weight: 900;
}
#skills section.all-skills ul li p.skill-duration {
  font-size: 16px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
}

#certificate {
  border-bottom: 3px solid #14b789;
  margin-bottom: 50px;
  padding: 80px 150px 100px;
}
#certificate section.all-certificates ul {
  margin: 50px 0 0;
  display: flex;
  align-items: center;
}
#certificate section.all-certificates ul li.certificate-container {
  margin-right: 30px;
}
#certificate section.all-certificates ul li.certificate-container div {
  height: 500px;
  width: 500px;
  display: block;
}
#certificate section.all-certificates ul li.certificate-container div img {
  border-radius: 10px;
}
#certificate section.all-certificates ul li.certificate-container:nth-child(2n) {
  margin-right: 0;
  margin-left: 30px;
}
#certificate section.all-certificates ul li.certificate-info div h4 {
  font-family: "Bruno Ace SC", cursive;
  color: #14b789;
  font-size: 28px;
  font-weight: 900;
}
#certificate section.all-certificates ul li.certificate-info div p {
  margin: 20px 0;
  width: 80%;
}
#certificate section.all-certificates ul li.certificate-info div a.certificate-button {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 900;
  border-radius: 6px;
  background-color: #14b789;
  box-shadow: rgb(20, 183, 137) 0px 5px 15px;
}
#certificate section.all-certificates ul li.certificate-info div a.certificate-button:hover {
  background-color: #000;
  color: #14b789;
}
#certificate section.all-certificates ul li.certificate-info:nth-child(2n) {
  order: 1;
}
#certificate section.all-certificates ul:nth-child(2n) {
  flex-direction: row-reverse;
}

footer {
  position: relative;
  padding: 50px 100px;
  background-color: #14b789;
}
footer div.heading {
  background-color: #535da1;
}
footer #contact {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto 0;
  text-align: center;
}
footer #contact a {
  display: inline-block;
}
footer #contact a:hover {
  padding-bottom: 0;
  border-bottom: 0;
}
footer #contact a.footer-logo {
  background-color: #535da1;
  width: 120px;
  display: block;
  margin: 60px auto;
}
footer #contact a.footer-logo img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
footer #contact ul.tri-contact {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 0 50px 0;
}
footer #contact ul.tri-contact li {
  background-color: #535da1;
  margin-right: 20px;
  padding: 20px 30px;
  border-radius: 6px;
  box-shadow: rgb(83, 93, 161) 0px 5px 15px;
}
footer #contact ul.tri-contact li div.each-tri-contact div.tri-contact-image {
  width: 30px;
  margin: 0 auto;
  display: block;
}
footer #contact ul.tri-contact li div.each-tri-contact div.tri-contact-image img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
footer #contact ul.tri-contact li div.each-tri-contact p {
  margin: 10px 0;
  font-size: 18px;
}
footer #contact ul.tri-contact li div.each-tri-contact a {
  color: #000;
}
footer #contact ul.tri-contact li div.each-tri-contact a:hover {
  text-decoration: underline;
}
footer #contact section.all-other-logo {
  display: flex;
  align-items: center;
}
footer #contact section.all-other-logo div.for-centering-logo {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
footer #contact section.all-other-logo div.for-centering-logo a {
  margin-right: 20px;
}
footer #contact section.all-other-logo div.for-centering-logo a:hover {
  transform: scale(1.2);
}
footer #contact section.all-other-logo div.for-centering-logo a:last-child {
  margin-right: 0;
}
footer #contact section.all-other-logo div.for-centering-logo a div.other-logo {
  width: 40px;
  display: block;
}
html body section.active {
  display: unset;
}

div.all-buttons {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
div.all-buttons button.each-nav-item {
  margin-right: 10px;
  padding: 20px 10px;
  text-align: center;
  border-radius: 6px;
  font-size: 24px;
  min-width: 200px;
  background-color: #14b789;
  cursor: pointer;
  font-family: "Bruno Ace SC", cursive;
}
div.all-buttons button.each-nav-item.active {
  color: #fff;
  background-color: #000;
}
div.all-buttons button.each-nav-item:hover {
  background-color: #fff;
  color: #000;
}

@media all and (max-width: 1200px) {
  #about, #experience, #education, #skills, #projects, #testimonial, #service, #certificate {
    padding: 100px 100px 50px;
  }
  header nav.navbar {
    width: 920px;
  }
  #spotlight ul li div.right-spotlight {
    width: 300px;
  }
  #spotlight ul li {
    margin-right: 20px;
  }
  #about div.about-flex {
    flex-wrap: wrap;
  }
  #about div.about-flex div.each-about {
    width: 100%;
  }
  #about div.about-flex div.single-about-1 {
    margin: 60px 0 0 0;
    order: 2;
  }
  #about div.about-flex {
    margin-top: 60px;
  }
  #experience section.all-experience {
    padding: 0;
  }
  #service section.all-service section.each-service div.service-heading h6 {
    font-size: 30px;
  }
  #service section.all-service section.each-service div.service-heading {
    padding: 0px 0px 10px;
    margin: 0px 0 10px;
  }
  #service section.all-service section.each-service div.service-heading div.service-image {
    width: 50px;
  }
  #certificate section.all-certificates ul li.certificate-container div {
    height: 400px;
    width: 350px;
  }
}
@media all and (max-width: 980px) {
  div.heading {
    padding: 20px 30px;
  }
  div.heading h2 {
    font-size: 40px;
  }
  header nav.navbar {
    padding: 30px;
    width: 820px;
  }
  #spotlight ul li h1 {
    font-size: 44px;
  }
  #spotlight ul li h3 {
    font-size: 32px;
  }
  #education div.heading {
    margin-bottom: 40px;
  }
  #skills section.all-skills ul {
    width: 46%;
  }
  #skills section.all-skills ul:nth-child(3n) {
    margin-right: 15px;
  }
  #projects section.all-projects a {
    width: 100%;
    min-height: 280px;
  }
  #service section.all-service section.each-service {
    width: 100%;
    padding: 20px;
    margin: 0px 0px 20px;
    border-radius: 6px;
    min-height: 300px;
  }
  #certificate section.all-certificates ul {
    flex-wrap: wrap;
    border: 3px solid #14b789;
    padding: 30px;
    border-radius: 10px;
  }
  #certificate section.all-certificates ul li {
    margin-right: 0px;
    width: 100%;
  }
  #certificate section.all-certificates ul li.certificate-container {
    margin-right: 0;
    order: 2;
    display: none;
  }
  #certificate section.all-certificates ul li.certificate-info div p {
    width: 100%;
  }
  #testimonial swiper-container.mySwiper {
    margin: 0;
  }
  #testimonial swiper-container.mySwiper swiper-slide section.single-testimonial div.testimonial-image {
    margin: 0px auto 30px;
  }
  footer #contact ul.tri-contact {
    flex-wrap: wrap;
    padding: 0 150px;
  }
  footer #contact ul.tri-contact li {
    width: 100%;
    margin: 10px auto;
  }
}
@media all and (max-width: 860px) {
  header nav.navbar {
    width: 720px;
  }
  #spotlight ul li h1 span {
    font-size: 58px;
  }
  #spotlight ul li div.right-spotlight {
    width: 250px;
  }
  #spotlight ul li div.right-spotlight img {
    border-radius: 50%;
    padding: 6px;
    border-width: 6px;
  }
  #education div.all-education ul li h4 {
    font-size: 28px;
  }
  #education div.all-education ul li h6 {
    font-size: 24px;
  }
  #education div.all-education ul li p.duration {
    font-size: 16px;
  }
  #education div.all-education ul li div.each-education {
    width: 70px;
  }
  #education div.all-education ul {
    margin: 0;
  }
}
@media all and (max-width: 768px) {
  div.heading div.head-avatar {
    width: 60px;
  }
  div.all-buttons button.each-nav-item {
    border-radius: 4px;
    font-size: 20px;
    min-width: 160px;
  }
  ul.nav-menu {
    position: fixed;
    z-index: 9;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: #14b789;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 0 100px;
    border-radius: 40px 40px 50px 50px;
  }
  header ul.nav-menu.activated_menu {
    left: 0;
  }
  .nav-item {
    margin: 30px 0;
  }
  header nav.navbar ul.nav-menu li.nav-item {
    margin-right: 0;
  }
  html body header nav.navbar div.hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.activated_menu .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.activated_menu .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.activated_menu .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  ul.nav-menu li.nav-item {
    margin-right: 0;
  }
  ul.nav-menu li.nav-item a {
    font-size: 16px;
    font-weight: 900;
  }
  header nav.navbar {
    padding: 20px 30px;
    width: 560px;
  }
  #spotlight ul {
    text-align: center;
    flex-wrap: wrap;
    margin: 150px 0 0;
  }
  #spotlight ul li {
    width: 100%;
    order: 2;
    margin-right: 0;
  }
  #spotlight ul li:last-child {
    order: 1;
  }
  #spotlight ul li div.right-spotlight {
    margin: 0 auto;
  }
  #spotlight ul li div.important-logo-container {
    display: inline-flex;
    margin: 0 auto;
  }
  #about div.about-flex div.single-about-2 div.about-user-image {
    width: 280px;
  }
  #about div.about-flex div.single-about-2 div.about-user-image img {
    box-shadow: 30px 30px #14b789;
  }
  #experience section.all-experience ul {
    flex-wrap: wrap;
    margin: 10px 0 30px;
  }
  #experience section.all-experience ul li.company-name {
    width: 100%;
  }
  #experience section.all-experience ul li.experience-detail {
    width: 100%;
  }
  #experience section.all-experience ul li.experience-detail div.experience-paragraph {
    margin-bottom: 20px;
  }
  #education div.all-education ul {
    flex-wrap: wrap;
  }
  #skills section.all-skills ul {
    min-width: 200px;
  }
  #testimonial swiper-container.mySwiper swiper-slide section.single-testimonial p.testimonial-content {
    font-size: 18px;
  }
  footer #contact ul.tri-contact {
    padding: 0 80px;
  }
}
@media all and (max-width: 640px) {
  div.all-buttons button.each-nav-item {
    font-size: 18px;
    min-width: 120px;
    padding: 15px 10px;
  }
  #about, #experience, #education, #skills, #testimonial, #projects, #service, #certificate {
    padding: 100px 50px 50px;
  }
  header nav.navbar {
    width: 420px;
  }
  #spotlight ul {
    margin: 120px 0 0;
  }
  #spotlight ul li div.right-spotlight {
    width: 220px;
  }
  #spotlight ul li h1 {
    font-size: 38px;
  }
  #spotlight ul li h1 span {
    font-size: 52px;
  }
  #spotlight ul li h3 {
    font-size: 28px;
  }
  #skills section.all-skills {
    display: block;
    margin: 50px auto 0;
    padding: 0 80px;
  }
  #skills section.all-skills ul {
    width: 100%;
  }
  #service section.all-service section.each-service div.service-heading h6 {
    font-size: 24px;
  }
  #service section.all-service section.each-service div.service-heading div.service-image {
    width: 40px;
  }
  #service section.all-service section.each-service a {
    padding: 6px 20px;
    border-radius: 6px;
  }
  #certificate section.all-certificates ul li.certificate-info div h4 {
    font-size: 24px;
  }
  #testimonial swiper-container.mySwiper swiper-slide section.single-testimonial p.testimonial-content {
    font-size: 16px;
  }
  #testimonial swiper-container.mySwiper swiper-slide section.single-testimonial div.testimonial-image {
    width: 100px;
  }
  #testimonial swiper-container.mySwiper swiper-slide section.single-testimonial h6 {
    font-size: 20px;
  }
  #testimonial swiper-container.mySwiper swiper-slide section.single-testimonial p.about-him {
    font-size: 18px;
  }
  footer {
    padding: 50px;
  }
  footer #contact ul.tri-contact {
    padding: 0 50px;
  }
}
@media all and (max-width: 480px) {
  div.heading h2 {
    font-size: 28px;
  }
  div.heading div.head-avatar {
    width: 50px;
  }
  div.all-buttons {
    flex-wrap: wrap;
    padding: 0 60px;
  }
  div.all-buttons button.each-nav-item {
    width: 100%;
    margin: 0 0 10px;
    margin-right: 0;
  }
  #about, #experience, #education, #certificate, #skills, #testimonial, #projects, #service {
    padding: 50px 30px 50px;
  }
  header nav.navbar div.logo-bar a div.main-logo {
    width: 60px;
  }
  header nav.navbar div.hamburger span.bar {
    width: 18px;
    height: 2px;
  }
  header nav.navbar {
    width: 320px;
  }
  ul.nav-menu {
    top: 5rem;
  }
  .hamburger.activated_menu .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  #spotlight ul li div.right-spotlight {
    width: 200px;
  }
  #spotlight ul {
    margin: 100px 0 0;
  }
  #spotlight ul li h1 {
    font-size: 32px;
  }
  #spotlight ul li h1 span {
    font-size: 44px;
  }
  #spotlight ul li h3 {
    margin: 10px 0 30px;
    font-size: 24px;
  }
  #spotlight ul li div.spotlight-buttons a {
    padding: 10px 20px;
  }
  #about div.about-flex div.single-about-1 p {
    font-size: 14px;
  }
  #about div.about-flex div.single-about-1 ul li span {
    font-size: 16px;
  }
  #about div.about-flex div.single-about-1 ul li {
    width: 100%;
    margin: 10px 0px 0 0;
  }
  #about div.about-flex div.single-about-2 div.about-user-image {
    width: 250px;
  }
  #about div.about-flex div.single-about-2 div.about-user-image img {
    box-shadow: 20px 20px #14b789;
  }
  #experience section.all-experience ul li.experience-detail h6 {
    font-size: 20px;
  }
  #experience section.all-experience ul li.experience-detail div.experience-paragraph p {
    font-size: 15px;
    margin: 10px 0 10px 10px;
  }
  #education div.all-education ul {
    padding: 15px 0;
  }
  #education div.all-education ul li h4 {
    font-size: 24px;
  }
  #education div.all-education ul li h6 {
    font-size: 20px;
  }
  #education div.all-education ul li p.other-details {
    margin: 0 0 10px 0px;
  }
  #skills section.all-skills {
    padding: 0 20px;
  }
  #skills section.all-skills ul li p.skill-duration {
    font-size: 15px;
  }
  #skills section.all-skills ul li h6 {
    font-size: 18px;
  }
  #projects section.all-projects a ul li div.book-icon {
    width: 30px;
  }
  #projects section.all-projects a ul li h4 {
    font-size: 24px;
  }
  #projects section.all-projects a p.project-description {
    font-size: 14px;
  }
  #projects section.all-projects a {
    min-height: 350px;
  }
  #service section.all-service section.each-service p.service-content {
    font-size: 14px;
  }
  #service section.all-service section.each-service a {
    font-size: 14px;
  }
  #certificate section.all-certificates ul li.certificate-info div h4 {
    font-size: 20px;
  }
  #certificate section.all-certificates ul {
    padding: 20px 15px;
    border-radius: 10px;
  }
  #certificate section.all-certificates ul li.certificate-info div p {
    font-size: 14px;
  }
  #certificate section.all-certificates ul li.certificate-info div a.certificate-button {
    font-size: 14px;
  }
  #testimonial swiper-container.mySwiper {
    padding: 40px 0px 60px;
  }
  footer #contact ul.tri-contact li div.each-tri-contact p {
    margin: 10px 0 0;
    font-size: 16px;
  }
  footer #contact ul.tri-contact li {
    padding: 20px;
  }
  footer #contact section.all-other-logo div.for-centering-logo a div.other-logo {
    width: 30px;
  }
  footer #contact ul.tri-contact {
    padding: 0;
  }
}
@media all and (max-width: 360px) {
  div.heading {
    padding: 20px;
  }
  header nav.navbar {
    width: 280px;
    padding: 15px 20px;
  }
  #spotlight ul li div.right-spotlight {
    width: 160px;
  }
  #spotlight ul li div.right-spotlight img {
    padding: 5px;
    border-width: 5px;
  }
  #spotlight ul li h1 {
    font-size: 28px;
  }
  #spotlight ul li h1 span {
    font-size: 40px;
  }
  #spotlight ul li h3 {
    font-size: 22px;
  }
  #about div.about-flex div.single-about-2 div.about-user-image {
    width: 230px;
  }
  #experience section.all-experience ul li.experience-detail h6 {
    margin: 0;
  }
  #education div.all-education ul li div.each-education {
    width: 50px;
  }
  #education div.all-education ul li h4 {
    font-size: 22px;
  }
  #education div.all-education ul li h6 {
    font-size: 18px;
  }
  #education div.all-education ul li p.duration {
    font-size: 14px;
  }
  #education div.all-education ul li p.other-details {
    font-size: 14px;
  }
  #projects section.all-projects a {
    min-height: 350px;
    padding: 20px 10px;
  }
  #projects section.all-projects a div.each-tech span {
    font-size: 14px;
  }
  #service section.all-service section.each-service {
    padding: 20px 20px 10px;
    margin: 0px 0px 20px;
    min-height: 350px;
  }
  #testimonial swiper-container.mySwiper swiper-slide section.single-testimonial p.testimonial-content {
    font-size: 14px;
  }
  footer #contact section.all-other-logo div.for-centering-logo {
    display: flex;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

del {
  text-decoration: line-through;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  overflow-x: hidden;
  min-width: 320px;
}

input, textarea, select {
  font-family: "Poppins", sans-serif;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

body img {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
  color: #fff;
  font-weight: 900;
}
a:hover {
  transition: 0.5s;
}

div.bottom-us {
  background: #fff;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #000;
}
div.bottom-us p {
  color: #000;
}
div.bottom-us p a {
  color: red;
  font-size: 14px;
  font-weight: 900;
}
div.bottom-us p a:hover {
  transition: 0.3s;
}

a.for-whatsapp-image {
  z-index: 9;
}

.img-container {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 60px;
  height: auto;
  animation: floating 3s ease-in-out infinite;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.img-container img {
  max-width: 100%;
  height: auto;
}

@media all and (max-width: 480px) {
  .img-container {
    width: 40px;
  }
}
@media all and (max-width: 320px) {
  .img-container {
    bottom: 20px;
    right: 10px;
  }
}/*# sourceMappingURL=style.css.map */